/* Estilos CSS para la página About */
/* Alinear las cards cars 1 y cars 2 con el borde derecho de la sección Cerrajería Masterlock */
@media (min-width: 768px) {
  .about-container {
    display: flex;
    align-items: flex-start; /* Alinear los elementos en la parte superior */
  }

  .about-container .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-container .card:nth-child(2) {
    margin-top: -20px; /* Ajuste de margen negativo para superponer la segunda card sobre la primera */
  }

  .about-container .section-container {
    flex: 1;
    margin-left: 20px; /* Espacio entre las cards y la sección */
  }
}
