.logo-brand {
    padding: 0; /* Elimina cualquier relleno predeterminado */
  }
  
  .logo-image {
    width: 150px; /* Ajusta el ancho según sea necesario */
    border-radius: 5px; /* Agrega un border-radius al logo */
    mask-image: url('src/assets/img/logo-nav-bar.png'); /* Utiliza la imagen del logo como máscara */
    mask-size: cover; /* Ajusta el tamaño de la máscara */
    background-color: black; /* Establece el fondo negro */
  }
  
  
  @media (max-width: 991px) {
    .logo-brand {
      margin-right: auto; /* Mueve el logo al margen izquierdo en dispositivos pequeños */
    }
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: white; /* Cambia el color del texto a blanco */
  }

  
  .bg-dark {
    background-color: black !important; /* Fondo negro */
  }
  
  /* Efecto scroll */
  .navbar {
    transition: all 0.3s ease;
  }
  
  @media (max-width: 991px) {
    .navbar.navbar-dark.bg-dark {
      background-color: rgba(0, 0, 0, 0.7) !important; /* Fondo negro con transparencia */
    }
  }
  .nav-link {
    color: white; /* Color del texto blanco */
    margin-right: 10px; /* Espaciado entre los enlaces */
    padding: 5px 10px; /* Relleno interno para los enlaces */
    border-radius: 5px; /* Borde redondeado */
    text-decoration: none; /* Quitar subrayado */
  }

  /* Estilo para los enlaces de navegación al pasar el mouse */
.nav-link:hover {
  background-color: white; /* Cambia el fondo al pasar el mouse */
  color: black; /* Cambia el color del texto al pasar el mouse */
}
.nav-link.active {
  font-weight: bold; /* Texto en negrita */
}






/* Ajustes de estilos CSS para el logotipo */
.logo-brand {
  margin-right: 15px; /* Añade un margen derecho para separar el logotipo del borde */
}

/* Ajustes de estilos CSS para la barra de navegación */
.navbar {
  position: fixed; /* Asegura que la barra de navegación permanezca fija */
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegura que la barra de navegación esté por encima de otros elementos */
  transition: top 0.3s ease-in-out; /* Aplica una transición suave al cambiar la posición */
}

/* Ajustes de estilos CSS para ocultar la barra de navegación al hacer scroll hacia abajo */
.navbar-scroll-up {
  top: -80px; /* Cambia la posición de la barra de navegación al ocultarla */
}
/* Ajustes de estilos CSS para la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out; /* Aplica una transición suave al cambiar la posición */
}

/* Ajustes de estilos CSS para ocultar la barra de navegación al hacer scroll hacia abajo */
.navbar-scroll-up {
  top: -80px; /* Cambia la posición de la barra de navegación al ocultarla */
}
