
.fixed-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 400px; /* Ejemplo de altura fija */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.fixed-button a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.fixed-button.facebook{
background-color: #3b5998; /* Establece el color de fondo para Facebook e Instagram */
margin-bottom: 15px; /* Mueve el botón de Facebook a la mitad de la altura */
}

.fixed-button.instagram {
   /* Establece el color de fondo para Instagram    background-color: #c13584;*/
  height: 250px; /* Ejemplo de altura fija para el botón c13584*/
}

.fixed-button.whatsapp {
  background-color: #25d366; /* Establece el color de fondo para WhatsApp */
  margin-top: auto; /* Mueve el botón de WhatsApp al fondo */
}

.tooltip {
  display: none;
}

.fixed-button:hover .tooltip {
  display: block;
}
